In [2]:
import pandas as pd 
import numpy as np

In [54]:
applicationTrain = pd.read_csv("application_train.csv")

In [35]:
def findNANcol(app_df):
    for _ in app_df.columns:
        if app_df[_].isna().value_counts().shape[0] > 1:
            print(_," ", app_df[_].isna().value_counts()[1])

In [27]:
def drop_na_rows(df, columns):
    return df.dropna(subset=columns)

In [55]:
applicationTrain = drop_na_rows(applicationTrain,["AMT_ANNUITY", "AMT_GOODS_PRICE", "NAME_TYPE_SUITE"])

In [32]:
applicationTrain["OWN_CAR_AGE"]

0          NaN
1          NaN
2         26.0
3          NaN
4          NaN
          ...
307506     NaN
307507     NaN
307508     NaN
307509     NaN
307510     NaN
Name: OWN_CAR_AGE, Length: 306207, dtype: float64

In [56]:
findNANcol(applicationTrain)

OWN_CAR_AGE   104168
OCCUPATION_TYPE   96006
EXT_SOURCE_1   133559
EXT_SOURCE_2   659
EXT_SOURCE_3   60750
APARTMENTS_AVG   150767
BASEMENTAREA_AVG   126977
YEARS_BEGINEXPLUATATION_AVG   149416
YEARS_BUILD_AVG   102556
COMMONAREA_AVG   92227
ELEVATORS_AVG   142958
ENTRANCES_AVG   151991
FLOORSMAX_AVG   152415
FLOORSMIN_AVG   98416
LANDAREA_AVG   124347
LIVINGAPARTMENTS_AVG   96866
LIVINGAREA_AVG   152474
NONLIVINGAPARTMENTS_AVG   93561
NONLIVINGAREA_AVG   137197
APARTMENTS_MODE   150767
BASEMENTAREA_MODE   126977
YEARS_BEGINEXPLUATATION_MODE   149416
YEARS_BUILD_MODE   102556
COMMONAREA_MODE   92227
ELEVATORS_MODE   142958
ENTRANCES_MODE   151991
FLOORSMAX_MODE   152415
FLOORSMIN_MODE   98416
LANDAREA_MODE   124347
LIVINGAPARTMENTS_MODE   96866
LIVINGAREA_MODE   152474
NONLIVINGAPARTMENTS_MODE   93561
NONLIVINGAREA_MODE   137197
APARTMENTS_MEDI   150767
BASEMENTAREA_MEDI   126977
YEARS_BEGINEXPLUATATION_MEDI   149416
YEARS_BUILD_MEDI   102556
COMMONAREA_MEDI   92227
ELEVATORS_MEDI   142958
ENTRANCES_MEDI   151991
FLOORSMAX_MEDI   152415
FLOORSMIN_MEDI   98416
LANDAREA_MEDI   124347
LIVINGAPARTMENTS_MEDI   96866
LIVINGAREA_MEDI   152474
NONLIVINGAPARTMENTS_MEDI   93561
NONLIVINGAREA_MEDI   137197
FONDKAPREMONT_MODE   96778
HOUSETYPE_MODE   152521
TOTALAREA_MODE   147846
WALLSMATERIAL_MODE   150479
EMERGENCYSTATE_MODE   145179
OBS_30_CNT_SOCIAL_CIRCLE   1021
DEF_30_CNT_SOCIAL_CIRCLE   1021
OBS_60_CNT_SOCIAL_CIRCLE   1021
DEF_60_CNT_SOCIAL_CIRCLE   1021
DAYS_LAST_PHONE_CHANGE   1
AMT_REQ_CREDIT_BUREAU_HOUR   41409
AMT_REQ_CREDIT_BUREAU_DAY   41409
AMT_REQ_CREDIT_BUREAU_WEEK   41409
AMT_REQ_CREDIT_BUREAU_MON   41409
AMT_REQ_CREDIT_BUREAU_QRT   41409
AMT_REQ_CREDIT_BUREAU_YEAR   41409

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/1941989999.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [37]:
applicationTrain["OCCUPATION_TYPE"].value_counts()

OCCUPATION_TYPE
Laborers                 54970
Sales staff              31957
Core staff               27426
Managers                 21275
Drivers                  18520
High skill tech staff    11326
Accountants               9768
Medicine staff            8504
Security staff            6694
Cooking staff             5929
Cleaning staff            4641
Private service staff     2637
Low-skill Laborers        2085
Waiters/barmen staff      1340
Secretaries               1300
Realty agents              748
HR staff                   559
IT staff                   522
Name: count, dtype: int64

In [39]:
applicationTrain["OWN_CAR_AGE"].value_counts().index

Index([ 7.0,  6.0,  3.0,  8.0,  2.0,  4.0,  1.0,  9.0, 10.0, 14.0, 13.0, 12.0,
       11.0,  5.0, 15.0, 16.0, 17.0, 64.0, 18.0,  0.0, 19.0, 20.0, 21.0, 22.0,
       24.0, 23.0, 65.0, 25.0, 26.0, 28.0, 27.0, 29.0, 30.0, 31.0, 32.0, 34.0,
       35.0, 33.0, 36.0, 38.0, 40.0, 39.0, 37.0, 41.0, 42.0, 44.0, 43.0, 54.0,
       45.0, 49.0, 46.0, 55.0, 51.0, 91.0, 63.0, 56.0, 57.0, 69.0, 50.0, 47.0,
       48.0, 52.0],
      dtype='float64', name='OWN_CAR_AGE')

In [57]:
applicationTrain["EXT_SOURCE_1"] = applicationTrain["EXT_SOURCE_1"].fillna(applicationTrain["EXT_SOURCE_1"].mean())
applicationTrain["EXT_SOURCE_2"] = applicationTrain["EXT_SOURCE_2"].fillna(applicationTrain["EXT_SOURCE_2"].mean())
applicationTrain["EXT_SOURCE_3"] = applicationTrain["EXT_SOURCE_3"].fillna(applicationTrain["EXT_SOURCE_3"].mean())
print("NaN values filled with column means:")
print(applicationTrain[["EXT_SOURCE_1", "EXT_SOURCE_2", "EXT_SOURCE_3"]].head())

NaN values filled with column means:
   EXT_SOURCE_1  EXT_SOURCE_2  EXT_SOURCE_3
0      0.083037      0.262949      0.139376
1      0.311267      0.622246      0.510925
2      0.502213      0.555912      0.729567
3      0.502213      0.650442      0.510925
4      0.502213      0.322738      0.510925

In [58]:
applicationTrain["EXT_SOURCES_MEAN"] = applicationTrain[["EXT_SOURCE_1", "EXT_SOURCE_2", "EXT_SOURCE_3"]].mean()

print(applicationTrain.head())

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR  \
0      100002       1         Cash loans           M            N
1      100003       0         Cash loans           F            N
2      100004       0    Revolving loans           M            Y
3      100006       0         Cash loans           F            N
4      100007       0         Cash loans           M            N

  FLAG_OWN_REALTY  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  AMT_ANNUITY  \
0               Y             0          202500.0    406597.5      24700.5
1               N             0          270000.0   1293502.5      35698.5
2               Y             0           67500.0    135000.0       6750.0
3               Y             0          135000.0    312682.5      29686.5
4               Y             0          121500.0    513000.0      21865.5

   ...  FLAG_DOCUMENT_19 FLAG_DOCUMENT_20 FLAG_DOCUMENT_21  \
0  ...                 0                0                0
1  ...                 0                0                0
2  ...                 0                0                0
3  ...                 0                0                0
4  ...                 0                0                0

  AMT_REQ_CREDIT_BUREAU_HOUR AMT_REQ_CREDIT_BUREAU_DAY  \
0                        0.0                       0.0
1                        0.0                       0.0
2                        0.0                       0.0
3                        NaN                       NaN
4                        0.0                       0.0

  AMT_REQ_CREDIT_BUREAU_WEEK  AMT_REQ_CREDIT_BUREAU_MON  \
0                        0.0                        0.0
1                        0.0                        0.0
2                        0.0                        0.0
3                        NaN                        NaN
4                        0.0                        0.0

   AMT_REQ_CREDIT_BUREAU_QRT  AMT_REQ_CREDIT_BUREAU_YEAR  EXT_SOURCES_MEAN
0                        0.0                         1.0               NaN
1                        0.0                         0.0               NaN
2                        0.0                         0.0               NaN
3                        NaN                         NaN               NaN
4                        0.0                         0.0               NaN

[5 rows x 123 columns]

In [59]:
applicationTrain = applicationTrain.drop( columns= ["EXT_SOURCE_1", "EXT_SOURCE_2", "EXT_SOURCE_3"])

In [60]:
findNANcol(applicationTrain)

OWN_CAR_AGE   104168
OCCUPATION_TYPE   96006
APARTMENTS_AVG   150767
BASEMENTAREA_AVG   126977
YEARS_BEGINEXPLUATATION_AVG   149416
YEARS_BUILD_AVG   102556
COMMONAREA_AVG   92227
ELEVATORS_AVG   142958
ENTRANCES_AVG   151991
FLOORSMAX_AVG   152415
FLOORSMIN_AVG   98416
LANDAREA_AVG   124347
LIVINGAPARTMENTS_AVG   96866
LIVINGAREA_AVG   152474
NONLIVINGAPARTMENTS_AVG   93561
NONLIVINGAREA_AVG   137197
APARTMENTS_MODE   150767
BASEMENTAREA_MODE   126977
YEARS_BEGINEXPLUATATION_MODE   149416
YEARS_BUILD_MODE   102556
COMMONAREA_MODE   92227
ELEVATORS_MODE   142958
ENTRANCES_MODE   151991
FLOORSMAX_MODE   152415
FLOORSMIN_MODE   98416
LANDAREA_MODE   124347
LIVINGAPARTMENTS_MODE   96866
LIVINGAREA_MODE   152474
NONLIVINGAPARTMENTS_MODE   93561
NONLIVINGAREA_MODE   137197
APARTMENTS_MEDI   150767
BASEMENTAREA_MEDI   126977
YEARS_BEGINEXPLUATATION_MEDI   149416
YEARS_BUILD_MEDI   102556
COMMONAREA_MEDI   92227
ELEVATORS_MEDI   142958
ENTRANCES_MEDI   151991
FLOORSMAX_MEDI   152415
FLOORSMIN_MEDI   98416
LANDAREA_MEDI   124347
LIVINGAPARTMENTS_MEDI   96866
LIVINGAREA_MEDI   152474
NONLIVINGAPARTMENTS_MEDI   93561
NONLIVINGAREA_MEDI   137197
FONDKAPREMONT_MODE   96778
HOUSETYPE_MODE   152521
TOTALAREA_MODE   147846
WALLSMATERIAL_MODE   150479
EMERGENCYSTATE_MODE   145179
OBS_30_CNT_SOCIAL_CIRCLE   1021
DEF_30_CNT_SOCIAL_CIRCLE   1021
OBS_60_CNT_SOCIAL_CIRCLE   1021
DEF_60_CNT_SOCIAL_CIRCLE   1021
DAYS_LAST_PHONE_CHANGE   1
AMT_REQ_CREDIT_BUREAU_HOUR   41409
AMT_REQ_CREDIT_BUREAU_DAY   41409
AMT_REQ_CREDIT_BUREAU_WEEK   41409
AMT_REQ_CREDIT_BUREAU_MON   41409
AMT_REQ_CREDIT_BUREAU_QRT   41409
AMT_REQ_CREDIT_BUREAU_YEAR   41409

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/1941989999.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [61]:
def fill_na_with_params(df, columns, param="others"):
    for column in columns:
        df[column] = df[column].fillna(param)
    return df
applicationTrain = fill_na_with_params(applicationTrain, ["OWN_CAR_AGE","OCCUPATION_TYPE"],"OTHERS")

In [62]:
applicationTrain["APARTMENTS_AVG"].value_counts()

APARTMENTS_AVG
0.0825    6636
0.0619    6297
0.0928    4382
0.0722    3966
0.0082    3493
          ...
0.3202       1
0.4467       1
0.8237       1
0.9649       1
0.3466       1
Name: count, Length: 2338, dtype: int64

In [63]:
findNANcol(applicationTrain)

APARTMENTS_AVG   150767
BASEMENTAREA_AVG   126977
YEARS_BEGINEXPLUATATION_AVG   149416
YEARS_BUILD_AVG   102556
COMMONAREA_AVG   92227
ELEVATORS_AVG   142958
ENTRANCES_AVG   151991
FLOORSMAX_AVG   152415
FLOORSMIN_AVG   98416
LANDAREA_AVG   124347
LIVINGAPARTMENTS_AVG   96866
LIVINGAREA_AVG   152474
NONLIVINGAPARTMENTS_AVG   93561
NONLIVINGAREA_AVG   137197
APARTMENTS_MODE   150767
BASEMENTAREA_MODE   126977
YEARS_BEGINEXPLUATATION_MODE   149416
YEARS_BUILD_MODE   102556
COMMONAREA_MODE   92227
ELEVATORS_MODE   142958
ENTRANCES_MODE   151991
FLOORSMAX_MODE   152415
FLOORSMIN_MODE   98416
LANDAREA_MODE   124347
LIVINGAPARTMENTS_MODE   96866
LIVINGAREA_MODE   152474
NONLIVINGAPARTMENTS_MODE   93561
NONLIVINGAREA_MODE   137197
APARTMENTS_MEDI   150767
BASEMENTAREA_MEDI   126977
YEARS_BEGINEXPLUATATION_MEDI   149416
YEARS_BUILD_MEDI   102556
COMMONAREA_MEDI   92227
ELEVATORS_MEDI   142958
ENTRANCES_MEDI   151991
FLOORSMAX_MEDI   152415
FLOORSMIN_MEDI   98416
LANDAREA_MEDI   124347
LIVINGAPARTMENTS_MEDI   96866
LIVINGAREA_MEDI   152474
NONLIVINGAPARTMENTS_MEDI   93561
NONLIVINGAREA_MEDI   137197
FONDKAPREMONT_MODE   96778
HOUSETYPE_MODE   152521
TOTALAREA_MODE   147846
WALLSMATERIAL_MODE   150479
EMERGENCYSTATE_MODE   145179
OBS_30_CNT_SOCIAL_CIRCLE   1021
DEF_30_CNT_SOCIAL_CIRCLE   1021
OBS_60_CNT_SOCIAL_CIRCLE   1021
DEF_60_CNT_SOCIAL_CIRCLE   1021
DAYS_LAST_PHONE_CHANGE   1
AMT_REQ_CREDIT_BUREAU_HOUR   41409
AMT_REQ_CREDIT_BUREAU_DAY   41409
AMT_REQ_CREDIT_BUREAU_WEEK   41409
AMT_REQ_CREDIT_BUREAU_MON   41409
AMT_REQ_CREDIT_BUREAU_QRT   41409
AMT_REQ_CREDIT_BUREAU_YEAR   41409

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/1941989999.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [67]:
applicationTrain["APARTMENTS_AVG"]

0         0.0247
1         0.0959
2            NaN
3            NaN
4            NaN
           ...
307506    0.2021
307507    0.0247
307508    0.1031
307509    0.0124
307510    0.0742
Name: APARTMENTS_AVG, Length: 306207, dtype: float64

In [ ]:
columns_to_check = [
    "APARTMENTS_AVG",
    "BASEMENTAREA_AVG",
    "YEARS_BEGINEXPLUATATION_AVG",
    "YEARS_BUILD_AVG",
    "COMMONAREA_AVG",
    "ELEVATORS_AVG",
    "ENTRANCES_AVG",
    "FLOORSMAX_AVG",
    "FLOORSMIN_AVG",
    "LANDAREA_AVG",
    "LIVINGAPARTMENTS_AVG",
    "LIVINGAREA_AVG"
]

all_nan_mask = applicationTrain[columns_to_check].isna().all(axis=1)

rows_with_all_nan = applicationTrain.loc[all_nan_mask,columns_to_check].isna().all(axis=1)
print(rows_with_all_nan)

True

In [74]:
def findCOLWITH_Suffix(df, suffix="AVG"):
    li = []
    for _ in df.columns:
        if _.endswith(suffix):
            li.append(_)
    return li
findCOLWITH_Suffix(applicationTrain,"MODE")

['APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

In [75]:
def fill_na_with_zero(df, columns):
    for column in columns:
        if column in df.columns:
            df[column] = df[column].fillna(0)
        else:
            print(f"Warning: Column '{column}' does not exist in the DataFrame.")
    return df
columns_to_fill = findCOLWITH_Suffix(applicationTrain)
columns_to_fill.extend(findCOLWITH_Suffix(applicationTrain, "MODE"))
columns_to_fill.extend(findCOLWITH_Suffix(applicationTrain, "MEDI"))
print(columns_to_fill)

['APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'FONDKAPREMONT_MODE', 'HOUSETYPE_MODE', 'TOTALAREA_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI', 'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI']

In [77]:
applicationTrain = fill_na_with_zero(applicationTrain, columns_to_fill)

In [78]:
findNANcol(applicationTrain)

OBS_30_CNT_SOCIAL_CIRCLE   1021
DEF_30_CNT_SOCIAL_CIRCLE   1021
OBS_60_CNT_SOCIAL_CIRCLE   1021
DEF_60_CNT_SOCIAL_CIRCLE   1021
DAYS_LAST_PHONE_CHANGE   1
AMT_REQ_CREDIT_BUREAU_HOUR   41409
AMT_REQ_CREDIT_BUREAU_DAY   41409
AMT_REQ_CREDIT_BUREAU_WEEK   41409
AMT_REQ_CREDIT_BUREAU_MON   41409
AMT_REQ_CREDIT_BUREAU_QRT   41409
AMT_REQ_CREDIT_BUREAU_YEAR   41409

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/1941989999.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [79]:
applicationTrain = drop_na_rows(applicationTrain, "DAYS_LAST_PHONE_CHANGE")

In [80]:
findNANcol(applicationTrain)

OBS_30_CNT_SOCIAL_CIRCLE   1021
DEF_30_CNT_SOCIAL_CIRCLE   1021
OBS_60_CNT_SOCIAL_CIRCLE   1021
DEF_60_CNT_SOCIAL_CIRCLE   1021
AMT_REQ_CREDIT_BUREAU_HOUR   41408
AMT_REQ_CREDIT_BUREAU_DAY   41408
AMT_REQ_CREDIT_BUREAU_WEEK   41408
AMT_REQ_CREDIT_BUREAU_MON   41408
AMT_REQ_CREDIT_BUREAU_QRT   41408
AMT_REQ_CREDIT_BUREAU_YEAR   41408

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/1941989999.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [84]:
applicationTrain["DEF_30_CNT_SOCIAL_CIRCLE"]

0         2.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
307506    0.0
307507    0.0
307508    0.0
307509    0.0
307510    0.0
Name: DEF_30_CNT_SOCIAL_CIRCLE, Length: 306206, dtype: float64

In [85]:
def fill_na_with_customValue(df, columns,value=3):
    for column in columns:
        if column in df.columns:
            df[column] = df[column].fillna(value)
        else:
            print(f"Warning: Column '{column}' does not exist in the DataFrame.")
    return df

applicationTrain = fill_na_with_customValue(applicationTrain, ["OBS_30_CNT_SOCIAL_CIRCLE", "DEF_30_CNT_SOCIAL_CIRCLE", "OBS_60_CNT_SOCIAL_CIRCLE","DEF_60_CNT_SOCIAL_CIRCLE"])

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2598779146.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column] = df[column].fillna(value)

In [86]:
findNANcol(applicationTrain)

AMT_REQ_CREDIT_BUREAU_HOUR   41408
AMT_REQ_CREDIT_BUREAU_DAY   41408
AMT_REQ_CREDIT_BUREAU_WEEK   41408
AMT_REQ_CREDIT_BUREAU_MON   41408
AMT_REQ_CREDIT_BUREAU_QRT   41408
AMT_REQ_CREDIT_BUREAU_YEAR   41408

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/1941989999.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [88]:
applicationTrain["AMT_REQ_CREDIT_BUREAU_YEAR"].value_counts()

AMT_REQ_CREDIT_BUREAU_YEAR
0.0     71132
1.0     63198
2.0     50050
3.0     33553
4.0     20665
5.0     12032
6.0      6952
7.0      3859
8.0      2125
9.0      1092
12.0       30
11.0       30
10.0       22
13.0       19
14.0       10
17.0        7
15.0        6
19.0        4
18.0        4
16.0        3
25.0        1
23.0        1
22.0        1
21.0        1
20.0        1
Name: count, dtype: int64

In [89]:
def normalize_to_quarters_and_combine(df):
    normalization_factors = {
        "AMT_REQ_CREDIT_BUREAU_HOUR": 8760 / 4,  # Hours in a quarter
        "AMT_REQ_CREDIT_BUREAU_DAY": 365 / 4,    # Days in a quarter
        "AMT_REQ_CREDIT_BUREAU_WEEK": 52 / 4,    # Weeks in a quarter
        "AMT_REQ_CREDIT_BUREAU_MON": 3,          # Months in a quarter
        "AMT_REQ_CREDIT_BUREAU_QRT": 1,          # Already in quarters
        "AMT_REQ_CREDIT_BUREAU_YEAR": 4          # Quarters in a year
    }

    for col, factor in normalization_factors.items():
        if col in df.columns:
            df[col + "_QUARTER_NORMALIZED"] = df[col] / factor

    # Combine normalized columns
    normalized_columns = [col + "_QUARTER_NORMALIZED" for col in normalization_factors.keys() if col in df.columns]
    df["AMT_REQ_CREDIT_BUREAU_TOTAL_QUARTER"] = df[normalized_columns].sum(axis=1)

    # Optionally, drop intermediate normalized columns
    # df.drop(columns=normalized_columns, inplace=True)

    return df
print(applicationTrain.shape)
normalize_to_quarters_and_combine(applicationTrain)

(306206, 120)

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + "_QUARTER_NORMALIZED"] = df[col] / factor
/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + "_QUARTER_NORMALIZED"] = df[col] / factor
/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + "_QUARTER_NORMALIZED"] = df[col] / factor
/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + "_QUARTER_NORMALIZED"] = df[col] / factor
/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + "_QUARTER_NORMALIZED"] = df[col] / factor
/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col + "_QUARTER_NORMALIZED"] = df[col] / factor
/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_54188/2406482367.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["AMT_REQ_CREDIT_BUREAU_TOTAL_QUARTER"] = df[normalized_columns].sum(axis=1)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,EXT_SOURCES_MEAN,AMT_REQ_CREDIT_BUREAU_HOUR_QUARTER_NORMALIZED,AMT_REQ_CREDIT_BUREAU_DAY_QUARTER_NORMALIZED,AMT_REQ_CREDIT_BUREAU_WEEK_QUARTER_NORMALIZED,AMT_REQ_CREDIT_BUREAU_MON_QUARTER_NORMALIZED,AMT_REQ_CREDIT_BUREAU_QRT_QUARTER_NORMALIZED,AMT_REQ_CREDIT_BUREAU_YEAR_QUARTER_NORMALIZED,AMT_REQ_CREDIT_BUREAU_TOTAL_QUARTER
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0.0,1.0,NaN,0.000000,0.0,0.0,0.000000,0.0,0.25,0.250000
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0.0,0.0,NaN,0.000000,0.0,0.0,0.000000,0.0,0.00,0.000000
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0.0,0.0,NaN,0.000000,0.0,0.0,0.000000,0.0,0.00,0.000000
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0.0,0.0,NaN,0.000000,0.0,0.0,0.000000,0.0,0.00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0.0,1.0,NaN,0.000457,0.0,0.0,0.333333,0.0,0.25,0.583790
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0.0,0.0,NaN,0.000000,0.0,0.0,0.000000,0.0,0.00,0.000000
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0.0,1.0,NaN,0.000000,0.0,0.0,0.666667,0.0,0.25,0.916667