In [28]:
import pandas as pd 
import numpy as np 
import sys

In [29]:
app_df = pd.read_csv("application_train.csv")
Nan_train = []
print(app_df.shape, "\n",app_df.columns)
print(app_df.columns.shape)
count = 0
for _ in app_df.columns:
    if app_df[_].isna().value_counts().shape[0] > 1:
        count = count + 1
        print(_," ", app_df[_].isna().value_counts()[1])
        Nan_train.append(_)
print("Number of Columns having NAN value is: ", count)

(307511, 122)
 Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)
(122,)
AMT_ANNUITY   12
AMT_GOODS_PRICE   278
NAME_TYPE_SUITE   1292
OWN_CAR_AGE   104582
OCCUPATION_TYPE   96391
CNT_FAM_MEMBERS   2
EXT_SOURCE_1   134133
EXT_SOURCE_2   660
EXT_SOURCE_3   60965
APARTMENTS_AVG   151450
BASEMENTAREA_AVG   127568
YEARS_BEGINEXPLUATATION_AVG   150007
YEARS_BUILD_AVG   103023
COMMONAREA_AVG   92646
ELEVATORS_AVG   143620
ENTRANCES_AVG   152683
FLOORSMAX_AVG   153020
FLOORSMIN_AVG   98869
LANDAREA_AVG   124921
LIVINGAPARTMENTS_AVG   97312
LIVINGAREA_AVG   153161
NONLIVINGAPARTMENTS_AVG   93997
NONLIVINGAREA_AVG   137829
APARTMENTS_MODE   151450
BASEMENTAREA_MODE   127568
YEARS_BEGINEXPLUATATION_MODE   150007
YEARS_BUILD_MODE   103023
COMMONAREA_MODE   92646
ELEVATORS_MODE   143620
ENTRANCES_MODE   152683
FLOORSMAX_MODE   153020
FLOORSMIN_MODE   98869
LANDAREA_MODE   124921
LIVINGAPARTMENTS_MODE   97312
LIVINGAREA_MODE   153161
NONLIVINGAPARTMENTS_MODE   93997
NONLIVINGAREA_MODE   137829
APARTMENTS_MEDI   151450
BASEMENTAREA_MEDI   127568
YEARS_BEGINEXPLUATATION_MEDI   150007
YEARS_BUILD_MEDI   103023
COMMONAREA_MEDI   92646
ELEVATORS_MEDI   143620
ENTRANCES_MEDI   152683
FLOORSMAX_MEDI   153020
FLOORSMIN_MEDI   98869
LANDAREA_MEDI   124921
LIVINGAPARTMENTS_MEDI   97312
LIVINGAREA_MEDI   153161
NONLIVINGAPARTMENTS_MEDI   93997
NONLIVINGAREA_MEDI   137829
FONDKAPREMONT_MODE   97216
HOUSETYPE_MODE   153214
TOTALAREA_MODE   148431
WALLSMATERIAL_MODE   151170
EMERGENCYSTATE_MODE   145755

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_51759/3073217966.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

OBS_30_CNT_SOCIAL_CIRCLE   1021
DEF_30_CNT_SOCIAL_CIRCLE   1021
OBS_60_CNT_SOCIAL_CIRCLE   1021
DEF_60_CNT_SOCIAL_CIRCLE   1021
DAYS_LAST_PHONE_CHANGE   1
AMT_REQ_CREDIT_BUREAU_HOUR   41519
AMT_REQ_CREDIT_BUREAU_DAY   41519
AMT_REQ_CREDIT_BUREAU_WEEK   41519
AMT_REQ_CREDIT_BUREAU_MON   41519
AMT_REQ_CREDIT_BUREAU_QRT   41519
AMT_REQ_CREDIT_BUREAU_YEAR   41519
Number of Columns having NAN value is:  67

In [16]:
del app_df

In [17]:
app_df = pd.read_csv("application_test.csv")
Nan_test = []
print(app_df.shape, "\n",app_df.columns)
print(app_df.columns.shape)
count = 0
for _ in app_df.columns:
    if app_df[_].isna().value_counts().shape[0] > 1:
        count = count + 1
        print(_," ", app_df[_].isna().value_counts()[1])
        Nan_test.append(_)
print("Number of Columns having NAN value is: ", count)

(48744, 121)
 Index(['SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR',
       'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=121)
(121,)
AMT_ANNUITY   24
NAME_TYPE_SUITE   911
OWN_CAR_AGE   16432
OCCUPATION_TYPE   15605
EXT_SOURCE_1   20532
EXT_SOURCE_2   8
EXT_SOURCE_3   8668
APARTMENTS_AVG   23887
BASEMENTAREA_AVG   21103
YEARS_BEGINEXPLUATATION_AVG   22856
YEARS_BUILD_AVG   16926
COMMONAREA_AVG   15249
ELEVATORS_AVG   23555
ENTRANCES_AVG   23579
FLOORSMAX_AVG   23321
FLOORSMIN_AVG   16278
LANDAREA_AVG   20490
LIVINGAPARTMENTS_AVG   15964
LIVINGAREA_AVG   23552
NONLIVINGAPARTMENTS_AVG   15397
NONLIVINGAREA_AVG   22660
APARTMENTS_MODE   23887
BASEMENTAREA_MODE   21103
YEARS_BEGINEXPLUATATION_MODE   22856
YEARS_BUILD_MODE   16926
COMMONAREA_MODE   15249
ELEVATORS_MODE   23555
ENTRANCES_MODE   23579
FLOORSMAX_MODE   23321
FLOORSMIN_MODE   16278
LANDAREA_MODE   20490
LIVINGAPARTMENTS_MODE   15964
LIVINGAREA_MODE   23552
NONLIVINGAPARTMENTS_MODE   15397
NONLIVINGAREA_MODE   22660
APARTMENTS_MEDI   23887
BASEMENTAREA_MEDI   21103
YEARS_BEGINEXPLUATATION_MEDI   22856
YEARS_BUILD_MEDI   16926
COMMONAREA_MEDI   15249
ELEVATORS_MEDI   23555
ENTRANCES_MEDI   23579
FLOORSMAX_MEDI   23321
FLOORSMIN_MEDI   16278
LANDAREA_MEDI   20490
LIVINGAPARTMENTS_MEDI   15964
LIVINGAREA_MEDI   23552
NONLIVINGAPARTMENTS_MEDI   15397
NONLIVINGAREA_MEDI   22660
FONDKAPREMONT_MODE   15947
HOUSETYPE_MODE   23619
TOTALAREA_MODE   22624
WALLSMATERIAL_MODE   23893
EMERGENCYSTATE_MODE   22209
OBS_30_CNT_SOCIAL_CIRCLE   29
DEF_30_CNT_SOCIAL_CIRCLE   29
OBS_60_CNT_SOCIAL_CIRCLE   29
DEF_60_CNT_SOCIAL_CIRCLE   29
AMT_REQ_CREDIT_BUREAU_HOUR   6049
AMT_REQ_CREDIT_BUREAU_DAY   6049
AMT_REQ_CREDIT_BUREAU_WEEK   6049
AMT_REQ_CREDIT_BUREAU_MON   6049
AMT_REQ_CREDIT_BUREAU_QRT   6049
AMT_REQ_CREDIT_BUREAU_YEAR   6049
Number of Columns having NAN value is:  64

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_50812/2689576865.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", app_df[_].isna().value_counts()[1])

In [21]:
def NotCommonInList(LiA, LiB):
    result = set()
    for _ in LiA:
        if(_ not in LiB):
            print(_)
            result.add(_)
            print("Not in LiB: ", _ )
    for _ in LiB:
        if(_ not in LiA):
            print(_)
            result.add(_)
            print("Not in LiA: ", _ )
    return result
print(NotCommonInList(Nan_test,Nan_train))

AMT_GOODS_PRICE
Not in LiA:  AMT_GOODS_PRICE
CNT_FAM_MEMBERS
Not in LiA:  CNT_FAM_MEMBERS
DAYS_LAST_PHONE_CHANGE
Not in LiA:  DAYS_LAST_PHONE_CHANGE
{'CNT_FAM_MEMBERS', 'AMT_GOODS_PRICE', 'DAYS_LAST_PHONE_CHANGE'}

Now It means if we drop columns from application_train It will autometically drop all columns for

In [4]:
import matplotlib.pyplot as plt

In [ ]:
bureau_data = pd.read_csv("bureau.csv")
bureau_bal = pd.read_csv("bureau_balance.csv")

In [32]:
app_df["TARGET"].value_counts()[1]

24825

bureau_balance.csv	STATUS	*Status* of Credit Bureau loan during the month (active, closed, DPD0-30,Ö 
[C means closed, 
X means status unknown, 
0 means no DPD, 
1 means maximal did during month between 1-30, 
2 means DPD 31-60,
5 means DPD 120+ or sold or written off ] )

In [14]:
print(bureau_bal.columns)
print(bureau_bal.shape)
print(bureau_bal['SK_ID_BUREAU'].nunique())
print(bureau_bal['STATUS'].value_counts())

Index(['SK_ID_BUREAU', 'MONTHS_BALANCE', 'STATUS'], dtype='object')
(27299925, 3)
817395
STATUS
C    13646993
0     7499507
X     5810482
1      242347
5       62406
2       23419
3        8924
4        5847
Name: count, dtype: int64

In [13]:
print(bureau_data.columns)
print(bureau_data.shape)
print("SK_ID_CURR: ", bureau_data['SK_ID_CURR'].nunique())
print("SK_ID_BUREAU: ", bureau_data['SK_ID_BUREAU'].nunique())

Index(['SK_ID_CURR', 'SK_ID_BUREAU', 'CREDIT_ACTIVE', 'CREDIT_CURRENCY',
       'DAYS_CREDIT', 'CREDIT_DAY_OVERDUE', 'DAYS_CREDIT_ENDDATE',
       'DAYS_ENDDATE_FACT', 'AMT_CREDIT_MAX_OVERDUE', 'CNT_CREDIT_PROLONG',
       'AMT_CREDIT_SUM', 'AMT_CREDIT_SUM_DEBT', 'AMT_CREDIT_SUM_LIMIT',
       'AMT_CREDIT_SUM_OVERDUE', 'CREDIT_TYPE', 'DAYS_CREDIT_UPDATE',
       'AMT_ANNUITY'],
      dtype='object')
(1716428, 17)
SK_ID_CURR:  305811
SK_ID_BUREAU:  1716428

In [15]:
creditCardBal = pd.read_csv("credit_card_balance.csv")
print(creditCardBal.columns)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'AMT_BALANCE',
       'AMT_CREDIT_LIMIT_ACTUAL', 'AMT_DRAWINGS_ATM_CURRENT',
       'AMT_DRAWINGS_CURRENT', 'AMT_DRAWINGS_OTHER_CURRENT',
       'AMT_DRAWINGS_POS_CURRENT', 'AMT_INST_MIN_REGULARITY',
       'AMT_PAYMENT_CURRENT', 'AMT_PAYMENT_TOTAL_CURRENT',
       'AMT_RECEIVABLE_PRINCIPAL', 'AMT_RECIVABLE', 'AMT_TOTAL_RECEIVABLE',
       'CNT_DRAWINGS_ATM_CURRENT', 'CNT_DRAWINGS_CURRENT',
       'CNT_DRAWINGS_OTHER_CURRENT', 'CNT_DRAWINGS_POS_CURRENT',
       'CNT_INSTALMENT_MATURE_CUM', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')

In [17]:
installment_payments = pd.read_csv("installments_payments.csv")
print(installment_payments.columns)
print(installment_payments.shape)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'NUM_INSTALMENT_VERSION',
       'NUM_INSTALMENT_NUMBER', 'DAYS_INSTALMENT', 'DAYS_ENTRY_PAYMENT',
       'AMT_INSTALMENT', 'AMT_PAYMENT'],
      dtype='object')
(13605401, 8)

In [19]:
posCashBal = pd.read_csv("POS_CASH_balance.csv")
print(posCashBal.columns)
print(posCashBal.shape)

Index(['SK_ID_PREV', 'SK_ID_CURR', 'MONTHS_BALANCE', 'CNT_INSTALMENT',
       'CNT_INSTALMENT_FUTURE', 'NAME_CONTRACT_STATUS', 'SK_DPD',
       'SK_DPD_DEF'],
      dtype='object')
(10001358, 8)

In [26]:
previousApplication = pd.read_csv("previous_application.csv")
print(previousApplication.shape)
print(previousApplication.columns)
count = 0
for _ in previousApplication.columns:
    if previousApplication[_].isna().value_counts().shape[0] > 1:
        count = count + 1
        print(_," ", (previousApplication[_].isna().value_counts()[1]/previousApplication.shape[0])*100)

print("Number of Columns having NAN value is: ", count)

(1670214, 37)
Index(['SK_ID_PREV', 'SK_ID_CURR', 'NAME_CONTRACT_TYPE', 'AMT_ANNUITY',
       'AMT_APPLICATION', 'AMT_CREDIT', 'AMT_DOWN_PAYMENT', 'AMT_GOODS_PRICE',
       'WEEKDAY_APPR_PROCESS_START', 'HOUR_APPR_PROCESS_START',
       'FLAG_LAST_APPL_PER_CONTRACT', 'NFLAG_LAST_APPL_IN_DAY',
       'RATE_DOWN_PAYMENT', 'RATE_INTEREST_PRIMARY',
       'RATE_INTEREST_PRIVILEGED', 'NAME_CASH_LOAN_PURPOSE',
       'NAME_CONTRACT_STATUS', 'DAYS_DECISION', 'NAME_PAYMENT_TYPE',
       'CODE_REJECT_REASON', 'NAME_TYPE_SUITE', 'NAME_CLIENT_TYPE',
       'NAME_GOODS_CATEGORY', 'NAME_PORTFOLIO', 'NAME_PRODUCT_TYPE',
       'CHANNEL_TYPE', 'SELLERPLACE_AREA', 'NAME_SELLER_INDUSTRY',
       'CNT_PAYMENT', 'NAME_YIELD_GROUP', 'PRODUCT_COMBINATION',
       'DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION',
       'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL'],
      dtype='object')
AMT_ANNUITY   22.286665062081866
AMT_CREDIT   5.9872567227912114e-05
AMT_DOWN_PAYMENT   46.363519884278304
AMT_GOODS_PRICE   23.08177275486854
RATE_DOWN_PAYMENT   46.363519884278304
RATE_INTEREST_PRIMARY   0.35630164757330496
RATE_INTEREST_PRIVILEGED   0.35630164757330496

/var/folders/8g/y90dcmtn1t39t7rwgnkvjspm0000gn/T/ipykernel_51759/441476002.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(_," ", (previousApplication[_].isna().value_counts()[1]/previousApplication.shape[0])*100)

NAME_TYPE_SUITE   49.11975351661524
CNT_PAYMENT   22.286365699245724
PRODUCT_COMBINATION   0.02071590826085759
DAYS_FIRST_DRAWING   40.29812946125467
DAYS_FIRST_DUE   40.29812946125467
DAYS_LAST_DUE_1ST_VERSION   40.29812946125467
DAYS_LAST_DUE   40.29812946125467
DAYS_TERMINATION   40.29812946125467
NFLAG_INSURED_ON_APPROVAL   40.29812946125467
Number of Columns having NAN value is:  16

In [27]:
print(previousApplication["SK_ID_PREV"].nunique())
print(previousApplication["SK_ID_CURR"].nunique())

1670214
338857