In [2]:
import pandas as pd 
import numpy as np

In [26]:
applicationTrain = pd.read_csv("application_train.csv")

In [27]:
def drop_na_rows(df, columns):
    return df.dropna(subset=columns)

In [28]:
applicationTrain = drop_na_rows(applicationTrain,["AMT_ANNUITY", "AMT_GOODS_PRICE", "NAME_TYPE_SUITE"])

In [32]:
applicationTrain["OWN_CAR_AGE"]

0          NaN
1          NaN
2         26.0
3          NaN
4          NaN
          ...
307506     NaN
307507     NaN
307508     NaN
307509     NaN
307510     NaN
Name: OWN_CAR_AGE, Length: 306207, dtype: float64